<div>
  <%= link_to 'Cadastrar Nova Transportadora', new_shipping_company_path %>
</div>

<% if @shipping_companies.any? %>
  <% @shipping_companies.each do |sc| %>
    <h2><%= link_to sc.brand_name, sc %></h2>
    <p><%= sc.corporate_name %></p>
    <p>CNPJ: <%= sc.registration_number %></p>
  <% end %>
<% else %>
  <h2>Nenhuma transportadora cadastrada</h2>
<% end %>

