<h2>Ordens de Serviço</h2>
<%= link_to 'Cadastrar Nova Ordem de Serviço', new_order_path %>
<br>
<br>
<br>
<br>  <%# TABELA COM TODAS AS ORDENS DE SERVIÇO (Colunas: CODIGO, STATUS, TRANSPORTADORA, VEÍCULO, ENDEREÇO ORIGEM, ENDEREÇO) %>
<br>
<br>
<br>
<%= link_to 'Voltar', root_path %>