<h3>Tabela de Preços por Volume</h3>
<div>
  <%= link_to 'Cadastrar Intervalos de Volume', new_shipping_company_volume_price_path(@shipping_company.id) %>
</div>


<br>
<br>
<br>  <%# TABELA DE PREÇOS POR VOLUME AQUI %>
<br>
<br>



<div>
  <%= link_to 'Voltar', shipping_company_path(@shipping_company.id) %>
</div>
