<!DOCTYPE html>
<html>
  <head>
    <title>FreightApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Sistema de Fretes</h1>
      <nav>
        Transportadoras |
        Ordens de Serviço |
        Rastreamento de Entrega
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
